# FastAPI Python Backend Endpoint
EXPO_PUBLIC_API_URL=http://localhost:8000/api

# Client-Side Storage & Push
EXPO_PUBLIC_S3_UPLOAD_ENDPOINT=https://your-bucket.s3.ap-south-1.amazonaws.com
EXPO_PUBLIC_PUSH_ENDPOINT=https://exp.host/--/api/v2/push/send
