# MongoDB Atlas Database Connection (Used by server.js backend)
MONGODB_URI=mongodb+srv://<db_user>:<db_password>@<cluster_domain>.mongodb.net/?appName=<app_name>
PORT=5001
DB_NAME=airbnb_expenses

# Client-Side Expo Variables (Exposed via EXPO_PUBLIC_ prefix)
EXPO_PUBLIC_ATLAS_ENDPOINT=http://localhost:5001/api
EXPO_PUBLIC_ATLAS_CLUSTER=prod-expense-management-db
EXPO_PUBLIC_ATLAS_DATABASE=airbnb_expenses
EXPO_PUBLIC_S3_UPLOAD_ENDPOINT=https://<your-bucket-name>.s3.<region>.amazonaws.com
EXPO_PUBLIC_PUSH_ENDPOINT=https://exp.host/--/api/v2/push/send
