MONGODB_URI=
DB_NAME=
PORT=8000
HOST=
CORS_ORIGINS=
GOOGLE_CLIENT_ID=

# Titan Email SMTP Settings (GoDaddy)
SMTP_HOST=smtp.gmail.email
SMTP_PORT=465
SMTP_USER=contact@gmaol.com
SMTP_PASS=password
SMTP_FROM=contact@gmaol.com
