MONGODB_URI=mongodb+srv://expense_management-db_user:Expense%402026@prod-expense-management.lmszl9n.mongodb.net/?appName=prod-expense-management-db
DB_NAME=airbnb_expenses
PORT=8000
HOST=0.0.0.0
CORS_ORIGINS=*
GOOGLE_CLIENT_ID=

# Titan Email SMTP Settings (GoDaddy)
SMTP_HOST=smtp.titan.email
SMTP_PORT=465
SMTP_USER=contact@tushargoswami.dev
SMTP_PASS=Tushar.1510
SMTP_FROM=contact@tushargoswami.dev
