MONGODB_URI=
DB_NAME=airbnb_expenses
PORT=8000
HOST=0.0.0.0
CORS_ORIGINS=*
GOOGLE_CLIENT_ID=

# Resend Transactional Email API (HTTPS Port 443)
RESEND_API_KEY=
EMAIL_FROM=Airbnb Manager <contact@tushargoswami.dev>
